<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Shopping Mall</title>
		<!--link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/-->
	</head>
<body>
	
	<center>
		<h2>Welcome to Our Shopping Mall</h2>
	</center>
	
	<div>
		<a href="/users/login">로그인</a>
	</div>
	<div>
		<a href="/users/new">회원가입</a>
	</div>
	<div>
		<a href="/list">상품리스트로 이동</a>
	</div>
	
	<center>
		<br><!--img src="img/banner.jpg"-->
	</center>
	
	
</body>
</html>