<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Item List</title>
</head>
<body>
	<h1>상품 리스트</h1>
	<a th:href="@{/item/new}">상품 추가하기</a>
	<div th:each="item : ${items}">
		<img th:src ="@{${item.getImgPath()}}">
		<label>상품명 : </label>
		<span th:text="${item.name}"></span>
		<label>상품가격 : </label>
		<span th:text="${item.price}"></span>
		<label>재고수량 : </label>
		<span th:text="${item.stock}"></span>
		<a th:href="@{/item/details/{id}(id=${item.id})}">상세보기</a><br>
		
		<form>
			<button type="submit">장바구니에 담기</button>
		</form>
	</div>
</body>
</html>