<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>customer</title>
	</head>
<body>
	<h2>회원가입</h2>
	<form th:action="@{/customers/save}" th:object="${customer}" method="post">
			
			<input type="hidden" th:field="*{customerId}"/>
			
			<label for="id">ID</label>
			<input type="text" id="id" name="id" th:field="*{customerId}" /> <br/>
			
			
			<label>PW</label>
			<input type="password" id="password" name="password" th:field="*{customerPw}" /> <br/>
			
			<label>Email</label>
			<input type="email" id="email" name="email" th:field="*{customerEmail}" /> <br/>
			
			<button type="submit">가입하기</button>
		</form>
</body>
</html>