<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Kh 쇼핑몰</title>
</head>
<body>
	<h1>Kh 쇼핑몰</h1>
	<ul>
		<li><a>home</a></li>
		<li><a>상품올리기</a></li><!-- 상품 올리기로 통하는 url-->
		<li><a>판매자 마이페이지</a></li>
		<li><a>상품 상세보기</a></li><!-- 상품 상세보기로 통하는 url-->
		<li>
			<ul>
				<li>모든 상품 보기</li><!-- itemList -->
				<li>인기상품 보기</li>
				<li>신상품 보기</li>
			</ul>
		</li>
	</ul>
	<form>
		<button>로그인</button>
	</form>
	<form>
		<button>회원가입</button>
	</form>
	<form>
		<a>현재 잔액</a>
	</form>
	
	<!-- 판매자가 아니라 소비자일 경우 -->
	<ul>
		<li>마이페이지</li>
	</ul>
	
</body>
</html>